/*Ashleigh Lyman*/
/*Assignment 7.3*/
/*CSS style page*/


/*Background color is pale blue green*/

body{
	background-color: #7f9ba1;
	font-size: 17px;
	margin: 0px;
	
}


header{
	background-image: url(images/momcoffee1.jpg);
	background-repeat: no-repeat;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	background-position: center;
	height: 22em;
	
}

/*Container color is a cream color*/

#container{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	background-color: #f6f1e9;
	min-width: 700px;
	max-width: 1024px;
	box-shadow: 15px 15px 15px #1e1e1e;
	padding-bottom: 30px;
}

p{
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 1.5em;
	font-family: 'Raleway', sans-serif;
}

/*Image right class is for images located on the right side of the page*/

.imageright{
	float: right;
	margin-left: 30px;
	margin-right: 80px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 5px;
	border: 4px inset #ff7f50;
	clear: right;
	border-radius: 1em;
	
}

/*Image left is for images on the left side of the page*/

.imageleft{
	float: left;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px;
	border: 4px inset #ff7f50;
	clear: left;
	border-radius: 1em;
}

/*Definition class is for the text in the definition*/

.definition{
	padding-top: 25px;
	padding-bottom: 5px;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
}

/*Mother class is the word mother being defined, bolding it to make it stand out more*/

.mother{
	font-size: 24px;
	font-family: 'Permanent Marker', cursive;
	font-weight: bold;
}

/*Noun class is classifying the word mother as a noun, putting it in italics to make it stand out*/

.noun{
	font-size: 20px;
	font-style: italic;
	
}

/*Underdef class is simply the text under the definition section. It's separated to give space between the two*/

.underdef{
	
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 26px;
	color: #ff7f50;
	
}

/*These next id's are for the text next to and around the images. Customizing each one for the right amount of space around*/

#firstparagraph{
	padding-top: 20px;
	clear: left;
}

#secondparagraph{
	padding-top: 10px;
	clear: right;
}

#thirdparagraph{
	padding-top: 10px;
	clear: both;
}

#fourthparagraph{
	padding-top: 30px;
	clear: left;
}

#fifthparagraph{
	clear: right;
	padding-top: 20px;
	
}

#sixthparagraph{
	clear: both;
	padding-top: 10px;
}

/*Italic id is for the degree titles in the footer*/

#italic{
	font-style: italic;
}

/*Bold id is for the name in the footer*/

#bold{
	font-weight: bold;
}

footer{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f6f1e9;
	box-shadow: 15px 15px 15px #1e1e1e;
	
}

footer p{
	padding-top: 30px;
	padding-bottom: 10px;

}

footer img{
	float: left;
	padding: 5px;
	padding-left: 30px;
	padding-right: 20px;
	
}

/*This link color is a greenish color*/

a:link{
	color: #5b5c50;
}

a:visited{
	color: blue;
}

a:hover{
	color: #ff7f50;
}

